/*
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
*/

.container {
  border: 2px solid black;
  width: 800px;
  margin: 0 auto;
  /* overflow: hidden; */
  display: flow-root;
}

.float {
  background: rgb(244, 87, 8);
  border: 1px solid white;
  height: 100px;
  width: 100px;
  padding: 10px;
  float: left;
}
